# ---------------------------------------------------------------------------
# docker-compose variable defaults (override locally in an untracked .env)
# ---------------------------------------------------------------------------
NGINX_PORT=8080
VITE_PORT=5173

DB_DATABASE=cronos
DB_USERNAME=cronos
DB_PASSWORD=secret
DB_PORT=5432

REDIS_PORT=6379

MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123
MINIO_BUCKET=cronos
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

MAILPIT_SMTP_PORT=1025
MAILPIT_UI_PORT=8025
